:root{
    --color-azul: #0d6efd
}


body{
    background-color: #000;
}

.cartas-exploracion{
    transition: transform 0.3s ease;
}

.cartas-exploracion:hover{
    opacity: .8;
    outline: auto;
    transform: scale(1.1);
    color: var(--color-azul) !important
}


a{
    text-decoration: none;
}

.titulo-index-sec-1{
    text-align: center;
}

/*Clase para imagenes de galeria*/
.object-fit-cover {
  object-fit: cover; /* Recorta la imagen manteniendo proporciones */
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.object-fit-cover:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px var(--color-azul);
}

.tarjetas-nacimiento:hover{
    color: var(--color-azul) !important
}