:root{
    --color-azul: #0d6efd
}


body{
    background-color: #000;
}





.cartas-exploracion:hover{
    opacity: .8;
    outline: auto;
    color: var(--color-azul) !important
}


a{
    text-decoration: none;
}

.titulo-index-sec-1{
    text-align: center;
}

/*Clase para imagenes de galeria*/
.object-fit-cover {
  object-fit: cover; /* Recorta la imagen manteniendo proporciones */
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.object-fit-cover:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px var(--color-azul);
}

.tarjetas-nacimiento:hover{
    color: var(--color-azul) !important
}


.enlace-whatsapp:hover{
    color: #25D366 !important
}

.enlace-facebook:hover{
    color: #1877F2 !important
}

.enlace-instagram:hover{
    color: #F77737 !important
}

.enlace-twitter:hover{
    color: #1DA1F2 !important
}

.enlace-youtube:hover{
    color: #FF0000 !important
}